<!-- Modal add product--> 
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add product</h4>
      </div>
      <div class="modal-body">
          <form class="form-signin">       
              
              <input type="text" class="form-control" name="name" placeholder="Product name" [(ngModel)]="newProduct.name" required="" autofocus="" />
              <br>
              <input type="number" class="form-control" name="price" placeholder="Product price" [(ngModel)]="newProduct.price" required="" autofocus="" />
              <br>
              <input type="text" class="form-control" name="description" placeholder="Product description" [(ngModel)]="newProduct.description" required="" autofocus="" />
              <br>
              <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="saveProduct(newProduct)" data-dismiss="modal">Add product</button>   
              <br>
              <span class="message">
                  {{message}}
                </span>
            </form>
      </div>
      

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>


  </div>
</div>


<!-- Modal edit product--> 
<div id="editModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit product</h4>
      </div>
      <div class="modal-body">
          <form class="form-signin">       
              
              <input type="text" class="form-control" name="name" placeholder="Product name" [(ngModel)]="editedProduct.name" required="" autofocus="" />
              <br>
              <input type="number" class="form-control" name="price" placeholder="Product price" [(ngModel)]="editedProduct.price" required="" autofocus="" />
              <br>
              <input type="text" class="form-control" name="description" placeholder="Product description" [(ngModel)]="editedProduct.description" required="" autofocus="" />
              <br>
              <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="updateProduct()" >Edit product</button>   
              <br>
              <span class="message">
                  {{message}}
                </span>
            </form>
      </div>
      

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>


  </div>
</div>


<div class="container">
  <br>
  <br>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/productPage">Farmers Market</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/productPage">My products</a></li>
            <li (click)="ordersPage()"><a>My orders</a></li>
            <li><a href="/">Log out</a></li>
          </ul>
        </div>
      </nav>
    <div class="col-md-12">
      <h1>My Products List</h1>
      
        <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Name</th>
          <th class="text-center">Description</th>
          <th class="text-center">Price</th>
          <th class="text-center">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.price | currency:'USD':true:'1.0-2' }}</td>
          <td>
            <button class="btn btn-info" (click)="showEditProductForm(product)">
                         <i class="fa fa-edit"  data-toggle="modal" data-target="#editModal"></i>
                         
                </button>
            <button class="btn btn-danger"
                         (click)="removeProduct(product)">
                         <i class="fa fa-minus"></i>
              </button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <button class="btn btn-success"
                 >Add product <i class="fa fa-plus" data-toggle="modal" data-target="#myModal"></i></button>
    
    <br />
    <br />
  <!--
    <form *ngIf="productForm">
      <h2>Add New Product</h2>
     
      <p>Name: <input type="text"
                                   name="name"
                                   [(ngModel)]="newProduct.name" /></p>
      <p>Description: <input type="text"
                                            name="description"
                                            [(ngModel)]="newProduct.description" /></p>
      <p>Price: <input type="text"
                                  name="price"
                                  [(ngModel)]="newProduct.price" /></p>
      <p>
        <button type="button"
                     class="btn btn-primary"
                     (click)="saveProduct(newProduct)">Submit</button>
        <button type="button"
                     class="btn btn-warning"
                     (click)="cancelNewProduct()">Cancel</button>
      </p>
     </form>
  
      <form *ngIf="editProductForm">
      <h2>Edit Product Details</h2>
      <p>ID: <input type="text"
                             name="id"
                             [(ngModel)]="editedProduct.id" /></p>
      <p>Name: <input type="text"
                                   name="name"
                                   [(ngModel)]="editedProduct.name" /></p>
      <p>Description: <input type="text"
                                            name="description"
                                            [(ngModel)]="editedProduct.description" /></p>
      <p>Price: <input type="text"
                                  name="price"
                                  [(ngModel)]="editedProduct.price" /></p>
      <p>
        <button type="button"
                     class="btn btn-primary"
                     (click)="updateProduct(editedProduct)">Submit</button>
        <button type="button"
                     class="btn btn-warning"
                     (click)="cancelEdits()">Cancel</button>
      </p>
     </form>
    </div>
  </div>-->