<div class="container">
    <br>
    <br>
      <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/orderPage">Farmers Market</a>
            </div>
            <ul class="nav navbar-nav">
              <li (click)="productPage()" ><a>My products</a></li>
              <li class="active" ><a>My orders</a></li>
              <li><a href="/">Log out</a></li>
            </ul>
          </div>
        </nav>
      <div class="col-md-12">
        <h1>My Orders List</h1>
       
          <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Customer username</th>
            <th class="text-center">Customer email</th>
            <th class="text-center">Products</th>
            <th class="text-center">Status</th>
            <th class="text-center">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{ order.id }}</td>
            <td>{{ order.customer.username }}</td>
            <td>{{ order.customer.email }}</td>
            <td>
                <p *ngFor = "let product of order.products">
                    {{product.name}}
                  </p>
              </td>
            <td>{{ order.status }}</td>
            <td>
              <button class="btn btn-info" (click)="showEditOrderModal(order)">
                           <i class="fa fa-edit"  data-toggle="modal" data-target="#editModal"></i>
                           
                  </button>
              <button class="btn btn-danger"
                           (click)="removeOrder(order)">
                           <i class="fa fa-minus"></i>
                </button>
                <button class="btn btn-success"
                (click)="setRelatedOrder(order)" data-toggle="modal" data-target="#sendMail">
                Send mail
                <i class="fa fa-envelope"></i>
                </button>
            </td>
          </tr>
        </tbody>
      </table>
  
      </div>
      </div>

      <!-- Modal edit product--> 
<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Change order status</h4>
        </div>
        <div class="modal-body">
            <form class="form-signin">  
                  
                <select  class="form-control" name="status" [(ngModel)]="editedOrder.status" >
                    <option value="new"  >New</option>
                    <option value="pending">Pending</option>
                    <option value="shipped">Shipped</option>
                    <option value="completed">Completed</option>
                    <option value="cancelled">Cancelled</option>
                  </select>  
                  <br>
                  <br>
                  <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="changeStatus()" >Change status</button>   
                <span class="message">
                    {{message}}
                  </span>
              </form>
        </div>
        
  
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
        <!-- Modal edit product--> 
<div id="sendMail" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Send mail:</h4>
        </div>
        <div class="modal-body">
            <form class="form-signin">
                <label>Your email:</label>  
                <input type="text" class="form-control" name="myemail" placeholder="example@gmail.com" [(ngModel)]="myemail" required="" autofocus="" />
                <br>
                <label>Your password:</label>  
                <input type="password" class="form-control" name="password"  [(ngModel)]="password" required="" autofocus="" />
                <br>
               <label>To:</label>  
                <input type="text" class="form-control" name="name" placeholder="email" [(ngModel)]="email" required="" autofocus="" readonly/>
                <br>
                <label>Subject:</label>  
                <input type="text" class="form-control" name="subject" placeholder="subject" [(ngModel)]="subject" required="" autofocus="" />
                <br>
                <label>Message:</label>
                <textarea class="form-control" rows="3" placeholder="Email text" name="emailT" [(ngModel)]="emailText" required></textarea>
                  <br>
                  <br>
                  <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="sendMail()" >Send Mail</button>   
                <span class="message">
                 <h3> {{message}} </h3> 
                  </span>
              </form>
        </div>
        
  
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>