<div class="wrapper">
    <form class="form-signin">       
      <h2 class="form-signin-heading">Please login</h2>
      <input type="text" class="form-control" name="username" placeholder="Insert your username here" [(ngModel)]="username" required="" autofocus="" />
      <br>

      <input type="password" class="form-control" name="password" placeholder="Insert your password here" required="" [(ngModel)]="password"/>      
      
      <select [(ngModel)]="role" name="role"  class="form-control">
          <option value="farmer">Farmer</option>
          <option value="customer">Customer</option>
      </select>
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login()" >Login</button>   
      <br>
      <span class="message">
          {{message}}
        </span>
    </form>
  </div>

