
<div class="container">
    <br>
    <br>
      <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/productPage">Farmers Market</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="/productPage">Search products</a></li>
              <li><a href="/">Log out</a></li>
            </ul>
          </div>
        </nav>
</div>

<div class="container">
  
 <div class="row">    
      
    
      <div class="col-xs-8 col-xs-offset-2">
          <h4>Search product: </h4>
      <div class="input-group">
              <!--<div class="input-group-btn search-panel">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span id="search_concept">Filter by</span> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#contains">Product</a></li>
                    <li><a href="#its_equal">Farmer</a></li>
                    <li class="divider"></li>
                    <li><a href="#all">Anything</a></li>
                  </ul>
              </div>-->
             
           <input type="hidden" name="search_param" value="all" id="search_param">         
              <input type="text" class="form-control" name="x" [(ngModel)]="productName" placeholder="Enter product name...">
              <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" (click)=searchProduct()></span></button>
              </span>
          </div>
      </div>


</div>
<br>
<br>
  <!--Table space-->
  <div class="col-md-12">
        <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th class="text-center">Farm Name</th>
          <th class="text-center">Product Price</th>
          <th class="text-center">Product Name</th>
          <th class="text-center">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.farmer.farmName }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>
            <button class="btn btn-info" (click)="seeFarmer(product)">
                     See details                     
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    </div>



</div>
