<div class="container">
    <br>
    <br>
      <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/productPage">Farmers Market</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a (click)="toProductPage()">Search products</a></li>
              <li><a href="/">Log out</a></li>
            </ul>
          </div>
        </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-10">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="http://placehold.it/380x400" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            {{farmer.farmName}}</h4>
                        <small><cite title="San Francisco, USA">  Address: {{ farmer.address }}<i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        <p>

                            <i class="glyphicon glyphicon-home"></i> Farmer name: {{farmer.name}}
                            <br />
                            <i class="glyphicon glyphicon-envelope"></i>Email address: {{farmer.email}}
                            <br />
                            <i class="glyphicon glyphicon-globe"></i>Website: no website 
                            <br />

                            <i class="glyphicon glyphicon-hand-right"></i>Farm description: {{farmer.description}}
                        
                        </div>
                 
           




            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="well well-sm">
                            <div class="row">
                                <div class="col-xs-12 col-md-6 text-center">
                                    <h1 class="rating-num">
                                        {{grade}}</h1>
                                    <div class="rating">
                                        <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                        </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                        </span><span class="glyphicon glyphicon-star-empty"></span>
                                    </div>
                                    <div>
                                       Rated by {{noPersons}} <span class="glyphicon glyphicon-user"> </span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="row rating-desc">
                                        
                              
                                        <div class="col-xs-6 col-md-10 ">
                                         

                                          <div class="dropdown dropdown-page-select">
                                             <h3> Give it a grade: </h3> 
                                             <form class="form-group">  
                                                
                                              <select  class="form-control" name="status" [(ngModel)]="submitgrade" >
                                                  <option value="1">1</option>
                                                  <option value="2">2</option>
                                                  <option value="2">3</option>
                                                  <option value="4">4</option>
                                                  <option value="5">5</option>
                                                </select>  
                                                <br>
                                            
                                                <button class="btn btn-primary" type="submit" (click)="giveGrade()" >Grade it</button>   
                                              <span class="message">
                                                  {{message}}
                                                </span>
                                            </form>

                                        </div>
                                    </div>
                                    <!-- end row -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


          </div>
        </div>
          </div>
        </div>
   

    <div class="col-md-12">
        <h1> {{farmer.farmName}}  Products List </h1>
        
          <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Description</th>
            <th class="text-center">Price</th>
            <th class="text-center">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price | currency:'USD':true:'1.0-2' }}</td>
            <td>
              <button class="btn btn-info"
                           (click)="setOrderProduct(product)" data-toggle="modal" data-target="#orderModal"> Order product
                           <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </button>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>

    <!-- Modal order product--> 
<div id="orderModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Order product</h4>
        </div>
        <div class="modal-body">
            <form class="form-signin">       
                <label>Product:</label>
                <input type="text" class="form-control" name="name" placeholder="Product name" [(ngModel)]="buyProduct.name" required="" autofocus="" readonly />
                <br>
                <label>Description:</label>
                <input type="text" class="form-control" name="description" placeholder="Product description" [(ngModel)]="buyProduct.description" required="" autofocus="" readonly/>
                <br>
                <label>Total price:</label>
                <input type="number" class="form-control" name="price" placeholder="Product price" [(ngModel)]="buyProduct.price" required="" autofocus="" readonly/>
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="orderProduct(buyProduct)">Order product</button>   
                <br>
                <span class="message">
                    {{message}}
                  </span>
              </form>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
  
    </div>
  </div>